<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        
    <mat-tab-group>
        <mat-tab label="Details"> 
            <app-details></app-details>
          
        </mat-tab> 
    
        <mat-tab label="Tiers"> 
                <div class="row">
                        <div class="fieldBlock">
                            <div class="title">Lower Limit</div>
                            <input id="llimit" *ngFor="let element of tierData" value="{{element.llimit}}" />
                        </div>
                            
                        <div class="fieldBlock">
                            <div class="title">Upper Limit</div>
                            <input id="ulimit" *ngFor="let element of tierData" value="{{element.ulimit}}" />
                
                        </div>
                        
                        <div class="fieldBlock">
                            <div class="title">SKU</div>
                            <input id="sku" *ngFor="let element of tierData" value="{{element.sku}}" />
                            
                        </div>
                    </div>
                      
                        <div class="row">
                            <!-- <button mat-icon-button color="primary" (click)="onCat()" type="button" style="font-size:25px"> <i class="fa fa-plus"></i> 
                            
                            </button> -->
                
                            <app-add-tier></app-add-tier>
                
                        </div>
        </mat-tab> 
    
    
        <mat-tab label="Cat-Tiers"> 
    
           <div class="row">
            <div class="fieldBlock">
                <div class="title">Lower Limit</div>
                <input id="llimit" *ngFor="let element of catTierData" value="{{element.llimit}}" />
            </div>
                
            <div class="fieldBlock">
                <div class="title">Upper Limit</div>
                <input id="ulimit" *ngFor="let element of catTierData" value="{{element.ulimit}}" />
    
            </div>
            
            <div class="fieldBlock">
                <div class="title">SKU</div>
                <input id="sku" *ngFor="let element of catTierData" value="{{element.sku}}" />
                
            </div>
        </div>
          
            <div class="row">
                <!-- <button mat-icon-button color="primary" (click)="onCat()" type="button" style="font-size:25px"> <i class="fa fa-plus"></i> 
                
                </button> -->
    
                <app-add-cat-tier> </app-add-cat-tier>
    
            </div>
    
            
        </mat-tab>
    
    </mat-tab-group>