.new{
    margin-left:200px;
}
.client-fees-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .mat-sidenav {
    width: 20%;
    background-color: #fafafa;
    border-right: 1px solid #b1b1b1;
    overflow:auto;
  }
  
  .mat-sidenav-content {
    margin-top: 15px;
    padding-left: 15px;
  }
  